{
  "extends": "standard",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
